<h2 style="color:green" align="center">COVID_19_infection_probability_detector</h2>

### https://www.covid19india.org/

<img src="pic_1.JPG" style="width:1000px;height:500px">

<img src="pic_2.JPG" style="width:1000px;height:500px">

<img src="pic_3.JPG" style="width:1000px;height:500px">

In [3]:
import pandas as pd
import numpy as np

## Load Data_Set

In [4]:
df = pd.read_csv('corona_data_csv.csv')

In [5]:
df.head()

,Fever,Body_Pain,Age,Runny_Nose,Difficulty_Breath,Infection_Probability
0,98.848146,1,67,1,0,1
1,99.102762,0,19,0,0,0
2,101.806674,1,84,1,1,0
3,99.954559,0,24,0,0,1
4,101.834420,0,9,0,1,1

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2699 entries, 0 to 2698
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Fever                  2699 non-null   float64
 1   Body_Pain              2699 non-null   int64
 2   Age                    2699 non-null   int64
 3   Runny_Nose             2699 non-null   int64
 4   Difficulty_Breath      2699 non-null   int64
 5   Infection_Probability  2699 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 126.6 KB

In [8]:
df['Difficulty_Breath'].value_counts()

 0    935
-1    885
 1    879
Name: Difficulty_Breath, dtype: int64

In [9]:
df.describe()

,Fever,Body_Pain,Age,Runny_Nose,Difficulty_Breath,Infection_Probability
count,2699.000000,2699.000000,2699.000000,2699.000000,2699.000000,2699.000000
mean,100.021557,0.506113,45.333086,0.497592,-0.002223,0.507966
std,1.160792,0.500055,26.195249,0.500087,0.808587,0.500029
min,98.001185,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,99.015383,0.000000,23.000000,0.000000,-1.000000,0.000000
50%,100.003611,1.000000,45.000000,0.000000,0.000000,1.000000
75%,101.038896,1.000000,68.000000,1.000000,1.000000,1.000000
max,101.999416,1.000000,90.000000,1.000000,1.000000,1.000000

## Train Test Split

In [33]:
X = df[['Fever','Body_Pain','Age','Runny_Nose','Difficulty_Breath']]
y = df['Infection_Probability']
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)

In [36]:
X_train.head()

           Fever  Body_Pain  Age  Runny_Nose  Difficulty_Breath
2559  100.198131          1   85           0                  0
1723  100.729318          1   36           0                  1
119   100.801951          0   10           0                  0
1894   98.800598          1   56           0                  1
590   100.241092          0   83           1                 -1

In [37]:
X_test.head()

           Fever  Body_Pain  Age  Runny_Nose  Difficulty_Breath
2592  101.829458          1   89           0                  0
675    98.201481          1    9           0                  0
2146  101.731092          0   26           1                  1
501    99.005471          0   53           0                  0
2338  101.776483          0   86           1                  0

In [38]:
y_train.head()

2559    0
1723    1
119     0
1894    0
590     0
Name: Infection_Probability, dtype: int64

In [39]:
y_test.head()

2592    0
675     0
2146    1
501     0
2338    0
Name: Infection_Probability, dtype: int64

### Model_Building

In [40]:
from sklearn.linear_model import LogisticRegression

In [41]:
clf = LogisticRegression()
clf.fit(X_train,y_train)

C:\Users\admin\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [42]:
clf.predict([[100,1,22,1,1]])

array([1], dtype=int64)

In [43]:
clf.predict_proba([[100,1,22,1,1]])

array([[0.47233667, 0.52766333]])

In [44]:
inputfeatures = [100,1,22,1,1]
infprob = clf.predict_proba([inputfeatures])[0][1]

In [45]:
infprob

0.5276633322416971